<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/urgent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureMi"
        tools:targetApi="31">
        <activity
            android:name="com.GokulBorade.securemi.activities.callerDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.GokulBorade.securemi.activities.CallActivity2"
            android:exported="true">

        </activity>
        <activity
            android:name="com.GokulBorade.securemi.activities.callActivity1"
            android:exported="true" />
        <activity
            android:name="com.GokulBorade.securemi.activities.splashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.GokulBorade.securemi.activities.locationActivity"
            android:exported="false" />
        <activity
            android:name="com.GokulBorade.securemi.activities.ViewRegisteredActivity"
            android:exported="false" />
        <activity
            android:name="com.GokulBorade.securemi.activities.AddTrustyNumberActivity"
            android:exported="false" />
        <activity
            android:name="com.GokulBorade.securemi.activities.SignUpActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name="com.GokulBorade.securemi.activities.SignInActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name="com.GokulBorade.securemi.activities.MainActivity"
            android:exported="true" >

        </activity>
    </application>

</manifest>